* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h3 {
  font-size: 24px;
}

main,
.select-movie,
.posters-container,
.select,
.schedules-available,
.schedules-day,
.seats,
.seat,
.status,
form,
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-direction: column;
}

.select {
  width: 100%;
  height: 110px;
}

.posters-container {
  width: 100%;
  height: 100%;
  gap: 11px 30px;
  flex-wrap: wrap;
}

.schedules {
  align-items: flex-start;
  margin: auto 23px;
}

.schedules-available {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.schedules-day {
  height: 35px;
}

h4 {
  font-size: 20px;
}

.schedules-time {
  margin: 23px 0;
}

.time-button {
  width: 83px;
  height: 43px;
  margin-right: 8px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #e8833a;
  border: none;
}

footer {
  width: 100%;
  height: 117px;
  background-color: #dfe6ed;
  border-top: 1px solid #9eadba;
  position: fixed;
  bottom: 0;
  display: flex;
  align-self: flex-start;
}

footer .poster {
  width: 64px;
  height: 89px;
  margin: 0 10px;
}

.footer {
  width: 100%;
  justify-content: flex-start;
}

.footer-img {
  width: 48px;
  height: 72px;
}

.footer-movie {
  margin-left: 14px;
  color: #000000;
  font-size: 26px;
  line-height: 30.47px;
}

.seats {
  width: 327px;
  height: 202px;
  flex-wrap: wrap;
  gap: 18px 7px;
  margin-bottom: 16px;
}

.seat {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #c3cfd9;
  border: 1px solid #808f9d;
}

h5 {
  color: #000000;
  font-size: 26px;
  line-height: 30.47px;
}

.status {
  width: 100%;
  height: 52px;
  justify-content: space-between;
}

.a {
  flex-direction: column;
  font-size: 18px;
  color: #4e5a65;
}

.green {
  background-color: #8dd7cf;
  border: 1px solid #1aae9e;
}

.yellow {
  background-color: #fbe192;
  border: 1px solid #f7c52b;
}

form {
  margin-top: 41px;
  font-size: 18px;
  line-height: 21.09px;
  flex-direction: column;
  margin-bottom: 135px;
}

.forms {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 5px;
  margin-bottom: 57px;
}

label {
  width: 100%;
  height: 25px;
  color: #293845;
  display: flex;
  align-items: center;
}

input {
  width: 225px;
  height: 42px;
  font-size: 18px;
  color: #ffffff;
  background-color: #e8833a;
  border-radius: 3px;
  border: none;
}

.forms input {
  width: 100%;
  height: 51px;
  background-color: #ffffff;
  color: #4e5a65;
  font-style: italic;
  padding-left: 18px;
}

.sucess {
  width: 150px;
  font-size: 24px;
  line-height: 28px;
  word-wrap: break-word;
  color: #247a6b;
  text-align: center;
}

.ticket {
  height: auto;
  align-self: flex-start;
  font-size: 22px;
  line-height: 26px;
  margin-left: 28px;
  margin-bottom: 20px;
}

.tittle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

button {
  width: 225px;
  height: 42px;
  font-size: 18px;
  color: #ffffff;
  background-color: #e8833a;
  border-radius: 3px;
  border: none;
}
